.speakerLabel {
	float: left;
	margin-top: 3px; /* A quick fix to align with gloss table. */
}

.topRow {
	font-weight: bold;
}

.timeBlock {
	float: left;
}

.timeStamp {
	margin-top: 3px; /* A quick fix to align with TimeBlock. */
	float: left;
	margin-right: 20px;
}

.labeledTimeBlock {
	clear: both;
	float: left;
	margin-top: 10px;
}

.textDisplay {
	position: fixed;
	margin-left: 240px;
	padding-left: 20px;
	width: calc(100% - 240px);
	height: calc(100% - 80px);
	overflow-y: scroll;
	border-left: 2px solid black;
}

#settings {
	position: absolute;
}

#leftPanel {
	width: 240px;
}

td {
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
}

#navbar {
	height: 48px;
	background-color: rgba(255,100,100,30);
}

body {
	margin: 0px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   border-top: 2px solid black;
}

ul {
	list-style: none;
}