/*	MAIN.CSS
	-> Major Sections */
body {
	margin: 0px;
	padding: 0px;
}

#navbar {
	height: 48px;
	background-color: purple;
}

#navbar li {
	display: inline;
	float: left;
}

#navbar ul {
/*	-webkit-padding-start: 0px;
*/	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-block-start: 0;
	margin-block-end: 0;
}

#navbar a {
    display: block;
    padding: 14px;
    /*border: 1px solid black;*/
    color: white;
}

#leftPanel {
	position: absolute;
	width: 240px;
}

#settings {
	padding: 10px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#999;
}

audio {
	width: 100%;
}

#hidden {
	display: none;
}
/*	MAIN.CSS
	->	Text Display
		General */
table.gloss {
	display: inline;
	padding-right: 9px;
}

.topRow {
	font-weight: bold;
}

td {
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
}
/*	MAIN.CSS
	->	Text Display
		Timed */
#video {
	width: calc(100% + 1px);
}

.timedTextDisplay {
	position: fixed;
	margin-left: 240px;
	width: calc(100% - 240px);
	height: calc(100% - 84px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.labeledTimeBlock {
	clear: both;
	float: left;
	display: flex;
	padding-right: 10px;
	width: 100%;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

.timeBlock {
	float: left;
	padding-left: 9px;
	overflow-x: auto;
}

.timeStampContainer {
	padding-top: 3px;
	float: left;
	/*margin-right: 9px;*/
	margin-left: 9px;
	padding-right: 9px;
	border-right: 2px solid black;
	text-align: center;
	min-width: 46px;
	padding-top: 8px;
	padding-bottom: 5px;
}

a.timeStamp {
	color: black;
}

.labeledSentence {
	white-space: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
}

.speakerLabel {
	float: left;
	margin-top: 3px;
}
/*	MAIN.CSS
	->	Text Display
		Untimed */
.untimedTextDisplay {
	position: fixed;
	margin-left: 240px;
	width: calc(100% - 240px);
	height: calc(100% - 48px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.UntimedBlock {
	overflow-x: auto;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	/*padding-right: 10px;*/
}

table.gloss[data-isTimeAligned="false"] {
	padding-left: 9px;
}

/*	MAIN.CSS
	->	Settings */

ul {
	list-style: none;
	-webkit-padding-start: 10px;
	-webkit-margin-before: 0.2em;
	padding-inline-start: 10px;
	margin-block-start: 0.2em;
}